<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
      {% load bootstrap4 %}
      {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
          .footer{
           background-color: #282828;
            border-top: 1px solid #000;
          }
          .grey-200{
               color : #e9ecef;
          }
          nav{
            font-family: 'Big Shoulders Stencil Display', serif;

          }
          nav .active{
            background-color : rgba(255,255,255,0.08);
            border: 1px solid rgba(255,255,255,0.1);
            border-radius: 5px;
          }
          nav .diviser{
            border-top: 1px solid rgba(255,255,255,0.3);
            margin : 0.5rem 1rem 0.5rem 1rem;
          }
          nav small{
            color : #6c757d;

          }
          .user-button{
               background-color : rgba(0,0,0,0.5);
               border-radius: 2.5rem;


          }
          .user-button img{
              width: 2.5rem;
          }
          .user-button .dropdown-toggle::after {
                display : none;
          }


          .modal{
               border-radius: 0;
               font-family: 'Big Shoulders Stencil Display', serif;

          }
          .modal, .modal h5, .modal button{
             font-size: 1.5em;
          }
          .modal-header, modal-footer, modal-body{

          }
          .modal-dialog{

          }
          .modal span{
           color : #FFF;
          }
          .modal-content{
           background-color : rgba(0,0,0,0.7);
           color : #EEE;
            border-radius: 0;
            border : 1px solid #AAA;
          }

          @media screen and (-webkit-min-device-pixel-ratio:0) {
                input[type='range'] {
                  overflow: hidden;
                  width: 100px;

                }




            }

          div.control-container div.amplitude-play-pause {
                width: 3.2em;
                height: 3.2em;
                cursor: pointer;


          }
          div.control-container div.amplitude-play-pause.amplitude-paused {
            background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/single-song/play.svg");
            background-size: cover;
          }
          div.control-container div.amplitude-play-pause.amplitude-playing {
                background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/single-song/pause.svg");
                background-size: cover;
          }
      </style>

     <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Big+Shoulders+Stencil+Display">

   {% block css %} {% endblock %}
  </head>
  <body class="d-flex flex-column h-100">

    <!-- Begin page content -->


    <main  style="height: calc(100% - 8rem);">
        <div class="d-flex flex-row p-0 m-0 h-100">
            <div style="background: black; width: 20rem; " >
                <div class="h-100" style="overflow-y: scroll;">
                    <nav class="nav flex-column text-white pb-5" style="font-size : 1.6rem;">
                    <div class="container-fluid">
                    <a class="navbar-brand grey-200 mb-4" href="#" style="font-size : 2.8rem;">
                        <i class="fa fa-music"></i>
                        SpotiFake
                    </a>
                  </div>
                  <a class="nav-link active nav-link-home grey-200 pt-1 pb-1" aria-current="page" href="#">
                      <i class="fa fa-home"></i>
                      Home
                  </a>
                  <a class="nav-link nav-link-research grey-200" href="#">
                       <i class="fa fa-search"></i>
                      Rechercher
                  </a>
                  <a class="nav-link nav-link-history grey-200" href="#">
                       <i class="fa fa-folder-open"></i>
                      Historique
                  </a>
                    <div class="diviser">
                        <small> PLAYLISTS</small>
                    </div>
                    <a href="#" class="nav-link grey-200 d-flex pb-0 " data-toggle="modal" data-target="#addPlaylist">

                        <div class="bg-light d-block text-center mr-2" style="color: black; width : 2.3rem; height : 2.3rem;">
                            <i class="fa fa-plus"></i>
                        </div>
                        Creer une playlist
                    </a>
                    <a class="nav-link grey-200 nav-link-playlist-fav d-flex pb-0" href="#">

                        <div class="bg-light d-block text-center mr-2" style="color: black; width : 2.3rem; height : 2.3rem;">
                            <i class="fa fa-heart"></i>
                        </div>
                        Favoris
                    </a>
                    <div class="diviser">
                    </div>
                        {% for p in all_playlist %}
                         <a class="nav-link nav-link-playlist grey-200 d-flex pb-0" href="#" playlist_id="{{p.id}}">


                             {{p.title}}
                        </a>

                        {% endfor %}

                </nav>
                </div>
            </div>
             <div class="w-100 overflow-auto" style="background-image: linear-gradient(#5d3847,#121212); ">
                 <div class="text-right p-2">
                     <div class="user-button grey-200 d-inline-block no-arrow" >
                        <a class="dropdown-toggle h-100" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-profile rounded-circle h-100" src="https://ui-avatars.com/api/?name={{ user.username }}&color=7F9CF5&background=EBF4FF">
                             <span class=" grey-200 p-2 pr-4">
                                 {{ user.username }}
                                  <i class="fa fa-sort-down ml-2"></i>
                             </span>

                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                 wip
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}?next=/">
                                Logout
                            </a>
                        </div>


                     </div>

                 </div>
                <div id="page-content-app" class="overflow-auto">
                     {% block content %} {% endblock %}
                </div>

             </div>
            </div>
        </div>

    </main>

    <footer class="footer m-0  p-0 shadow" style="height:8rem; overflow : hidden">

        <div class="row m-0 ">
            <div class="col justify-content-between" >
                <div class="row">
                    <div class="col-auto p-0">
                        <img style="height:6rem; margin:0.95rem" src="http://127.0.0.1:8000/media/no-img.png" data-amplitude-song-info="cover_art_url"/>
                    </div>
                     <div class="col p-0">
                         <div class="text-light pl-0 d-flex flex-column justify-content-center" style="padding: 0.95rem">
                        <h3 data-amplitude-song-info="name">Titre de la musique</h3>
                        <p data-amplitude-song-info="artist">Auteur</p>
                    </div>
                    </div>



                </div>

            </div>
            <div class="col d-flew mr-5 flex-column justify-content-center ">

                <div class="text-light mt-3 m-2 d-flex justify-content-center control-container">
                    <span class="pt-2 amplitude-prev">
                        <i class="fa fa-2x fa-step-backward"></i>
                    </span>
                     <span class="pl-3 pr-3">
                       <div class="amplitude-play-pause" id="play-pause"></div>
                    </span>
                     <span class="pt-2 amplitude-next">
                        <i class="fa fa-2x fa-step-forward"></i>
                    </span>
                </div>
                <div class="time-progress">
                  <div id="progress-container" >
                    <input style="position: absolute; z-index: 100; height: 12px; color: transparent" type="range" class="w-100 amplitude-song-slider">
                    <progress style="position: absolute; z-index: 30; height: 12px;" id="song-played-progress" class="w-100 amplitude-song-played-progress" value="0.0599999982928915"></progress>
                    <progress style="position: absolute; z-index: 10; height: 12px;" id="song-buffered-progress" class="w-100 amplitude-buffered-progress" value="1"></progress>
                  </div>

                  <div class="time-container">
                    <span class="current-time">
                      <span class="amplitude-current-minutes">00</span>:<span class="amplitude-current-seconds">12</span>
                    </span>
                    <span class="duration">
                        <span class="amplitude-duration-minutes">03</span>:<span class="amplitude-duration-seconds">30</span>
                      </span>
                  </div>
                </div>

             </div>

        </div>



    </footer>




   {% block modals %} {% endblock %}
    </body>
  <script>
function Toaster(msg, color) {

  let icon = "";

  if(!document.querySelector('#toast')){
    let t = document.createElement('div');
    t.id = "toast";
    t.style = "position: fixed; z-index: 999; bottom: 8.5rem; right: 0.5em; display: flex; flex-direction: column; max-width: 100%";
    document.body.appendChild(t);
  }
  const b = document.querySelector('#toast');
  let t = document.createElement('div');
  t.innerHTML = `<div class="alert alert-${color} alert-dismissible fade show" role="alert">
                  <p>${msg}</p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>`;

  b.appendChild(t);
  setTimeout(() => {
    t.remove();
  }, 10000);
}


        function pageIsLoading(){
            $('#page-content-app').html('<div class="text-center display-1 text-light"><i class=" fa fa-spinner fa-spin"></i></div>');
        }
        function placeIsMainPage(object){
            $('#page-content-app').html('');
            $('#page-content-app').append(object);
        }
  </script>
   {% block javascript %} {% endblock %}
</html>