<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->

   {% load bootstrap4 %}
      {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

  <style>
{% load static %}
   .bg-login-image{
      background:url('{% static 'images/undraw_listening_1u79.png' %}');
      background-size: contain;
    }
  </style>


</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                               </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="post" action="{% url 'login' %}">
                                       {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-control form-control-user"
                                                placeholder="Identifiant">

                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-control form-control-user"
                                                placeholder="Mot de passe">

                                        </div>
                                        <input type="hidden" name="next" value="{{ next }}" />
                                        <button type="submit" class="btn btn-primary btn-user btn-block"  value="login">
                                            Login
                                        </button>

                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/accounts/register/?next=/">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if form.errors %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                     <p>Your username and password didn't match. Please try again.</p>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                     <p>Your account doesn't have access to this page. To proceed,
                      please login with an account that has access.</p>
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                    {% else %}

                   <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <p>Please login to see this page.</p>
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %}
                  {% endif %}
            </div>

        </div>

    </div>


</body>

</html>


