{% extends 'app/layouts/app.html' %}


{% block css %}
<style>
    .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.album-link {
  text-decoration: none;
  color : white;
}

</style>


{% endblock %}

{% block content %}


{% endblock %}

{% block modals %}

 <div class="modal fade" id="addPlaylist" tabindex="-1" aria-labelledby="addPlaylist" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajouter une playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="addPlaylistFrom" action="{% url 'add_playlist' %}" method="post" enctype="multipart/form-data">
              <div class="modal-body">
                {% load rest_framework %}

                {% csrf_token %}
                  <input value="{{user.id}}" name="user_id" hidden>

                {{ add_playlist_form }}

              </div>
              <div class="modal-footer">
               <button type="submit" class="btn btn-light">Save changes</button>
              </div>



          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.2.0/dist/amplitude.js"></script>


{% load static %}
<script type="text/javascript" src="{% static 'js/amplitude.js' %}"></script>


<script type="text/javascript" src="{% static 'js/main.js' %}"></script>


{% endblock %}